/* Toggle Button */

.header__menu-btn {
  display: none;
}

@include breakpoint ('<=medium'){
  .header__menu-btn {
    display: block;
		padding-right: 1rem;
		width: 50px;
		height: 40px;
		position: relative;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;

		&.open-bar {
			span.h-menu__bars:nth-child(1) {
				top: 12px;
  			transform: rotate(135deg);
			}

			span.h-menu__bars:nth-child(2) {
				opacity: 0;
  			left: -60px;
			}

			span.h-menu__bars:nth-child(3) {
				top: 12px;
  			transform: rotate(-135deg);
			}
		}
  }
}

//mobile menu
.h-menu {
	&__bars {
		background: _color(blue);
		display: block;
		border-radius: 6px;
		height: 4px;
		width: 100%;
		transition: all 0.35s ease;
		position: absolute;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}
}

.h-menu__bars:nth-child(1) {
	top: 0;
}

.h-menu__bars:nth-child(2) {
	top: 12px;
}

.h-menu__bars:nth-child(3) {
	top: 24px;
}
