// Misc.
	$misc: (
		max-features:		20,
		max-sidebar-links:	20
	);

// Duration.
	$duration: (
		transition:		0.2s,
		activation:		1s
	);

// z-index
	$z-1: 1;
  $z-2: 2;
  $z-3: 3;
  $z-4: 4;
  $z-5: 5;
