.color {
  $margin-size: 5px;
  padding: 1rem 0;

  &:first-of-type {
    padding-top: 0;
  }

  &__group {
    display: flex;
  }

  &__family {
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    min-width: 20%;
    padding-left: 0;
    margin: 0;
  }

	&__item {
		min-width: calc(20% - 20px);
		margin: $margin-size;
		padding: 0;
		display: inline-block;

    @include breakpoint('<=xsmall') {
      width: 100%;
    }
	}

	&__content {
    $color-brand: red;
		@include vendor('display', 'flex');
		@include vendor('flex-direction', 'column');
		@include vendor('align-items', 'center');
		@include vendor('justify-content', 'center');
		min-height: 80px;
		min-width: 170px;
	
		&#{&}--siena {
			background-color: _color(siena);
		}

		&#{&}--siena-light {
			background-color: _color(siena-light);
		}

		&#{&}--blue {
			background-color: _color(blue);
		}

		&#{&}--blue-light {
			background-color: _color(blue-light);
		}

		&#{&}--yellow {
			background-color: _color(yellow);
		}

		&#{&}--hol-grey{
			background-color: _color(hol-grey);
		}

    &#{&}--activity {
      background-color: _color(brown);
    }

    &#{&}--nutrition {
      background-color: _color(emerald-dark);
    }

    &#{&}--health {
      background-color: _color(emerald);
    }

    &#{&}--lifestyle {
      background-color: _color(pink);
    }

    &#{&}--mindset {
      background-color: _color(yellow-dark);
    }

		&#{&}--beginner {
      background-color: _color(siena);
    } 
    &#{&}--beginner-font {
      background-color: _color(brown-dark);
    }

		&#{&}--beginner-bg {
      background-color: _color(siena-light);
    }

    &#{&}--bronze {
      background-color: _color(bronze);
    }

    &#{&}--bronze-font {
      background-color: _color(bronze-dark);
    }

    &#{&}--bronze-bg {
      background-color: _color(bronze-light);
    }

    &#{&}--silver {
      background-color: _color(silver);
    }

    &#{&}--silver-font {
      background-color: _color(grey-dark);
    }

    &#{&}--silver-bg {
      background-color: _color(grey-light);
    }

    &#{&}--gold {
      background-color: _color(gold);
    }

    &#{&}--gold-font {
      background-color: _color(gold-dark);
    }

    &#{&}--gold-bg {
      background-color: _color(gold-light);
    }

    &#{&}--grey-dark {
      background-color: _color(grey-dark);
    }

    &#{&}--grey {
      background-color: _color(grey);
    }

    &#{&}--grey-light {
      background-color: _color(grey-light);
    }

    &#{&}--main {
      background-color: _color(blue);
    }

    &#{&}--main-disabled {
      background-color: _color(blue-light);
    }

    &#{&}--second {
      background-color: _color(white);
      border: 5px solid _color(blue);
    }

    &#{&}--second-disabled {
      background-color: _color(white);
      border: 5px solid _color(blue-light);
    }

    &#{&}--action {
      background-color: _color(green);
    }

    &#{&}--action-disabled {
      background-color: rgba(_color(green), 0.2);
    }
	}

	&__description {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');
    margin: $margin-size 0;

    @include breakpoint('<=small') {
      @include vendor('flex-direction', 'row');
      @include vendor('justify-content', 'space-between');
      @include vendor('align-items', 'baseline');
    }
  }
  
  &__name {
    @include vendor('text-transform', 'uppercase');
    font-weight: _font(weight-bold);
    color: _color(white);
  }

  &__code {
    font-size: _f-size(bigger);
    line-height: 1.5;
  }
}
