// Typography

//Basic element: Title + definition
.item {
  &__title {
    @include vendor('text-transform', 'uppercase');
    font-weight: _font(weight-bold);
  }

  &__define {
    font-size: _f-size(f-size-xl);
    line-height: 1.5;
  }
}
