//Misc
$color-white: #ffffff;

$color-border:				rgba($color-white, .35);
$color-border-bg:	 		rgba($color-white, .25);
$color-border-hover:	rgba($color-white, .5);


// Color palette
$colors: (
  white:				$color-white,
  grey-light:		#f0f0f0,
  grey:					#606060,
  grey-dark:		#525252,
  black:				#000000,
  siena:				#f07662,
  siena-light:	rgba(240, 118, 98, .2),
  blue:					#103184,
  blue-light:		rgba(16, 49, 133, .2),
  yellow:				#fbb730,
  hol-grey:			#eeeeee,
  green:				#8bc242,
  red:					#df1919,
  brown-dark:		#602F27,
  bronze:				#9f916d,
  bronze-dark:	#3f3a2c,
  bronze-light:	#979797,
  silver:				#cbcccd,
  gold:					#af8b1b,
  gold-dark:		#46370b,
  gold-light:		rgba(#af8b1b, .2),
  brown:				#914146,
  emerald-dark:	#027180,
  emerald:			#00aec6,
  pink:					#e196aa,
  yellow-dark: 	#ffb922
);

// Palette.
	$palette: (
		bg:					#312450,
		bg-alt:				darken(#312450, 5),
		fg:					rgba(255,255,255,0.55),
		fg-light:		rgba(255,255,255,0.35),
		accent1:		#5e42a6,
		accent1-alt:	darken(#5e42a6, 10),
		accent2:		#5052b5,
		accent2-alt:	darken(#5052b5, 10),
		accent3:		#b74e91,
		accent3-alt:	darken(#b74e91, 10)
	);

// Construction of the classes and attributes
@each $color-key, $color-value in $colors {
  .color--#{$color-key},
  [color-#{$color-key}] {
    color: $color-value !important;
  }

  .bg-color--#{$color-key},
  [bg-color-#{$color-key}] {
    background-color: $color-value !important;
  }
}
