.accordion {
  width: 100%;

  ul {
    /* by default hide all sub menus */
    display: none;
  }

  li {
    user-select: none;
    list-style: none;
  }

  input[type=checkbox]+label.accordion__label {
    display: block;
    padding-left: 0;
    
    &:before {
      display: none;
    }

    &:after {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      top: 8px;
      right: -5px;
      border-left: 2px solid _color(white);
      border-bottom: 2px solid _color(white);
      transform: rotate(225deg);
      transition: all .2s;
    }

    &--open:after {
      transform: rotate(315deg);
    }
  }
}
