.accordion {
  width: 100%;

  ul {
    /* by default hide all sub menus */
    display: none;
  }

  li {
    user-select: none;
    list-style: none;
  }

  input[type=checkbox]+label.accordion__label {
    &:before {
      display: none;
    }

    &:after {
      content: "\f00c";
      font-family: FontAwesome;
    }
  }
}
