.menu {
	//menu sidebar
	&-sidebar {
		margin-top: $gutter2;
		margin-bottom: 0;
		padding: 0;
		padding-left: 2.5rem;
		list-style-type: none;
	}

	//menu tab
	&-tab {
		padding: 20px;
		background-color: _color(white);
		> ul {
			margin: 0;
			padding: 0;
		}

		&__item {
			display: inline-block;
			margin-left: 1.75em;
			padding: 0;
			vertical-align: middle;

			&:first-child {
				margin-left: 0;
			}
		}

		&__link {
			border: 0;
			color: _color(grey);
			display: inline-block;
			font-size: $font-size-xs;
			font-weight: $font-bold;
			letter-spacing: $kerning;
			text-transform: uppercase;

			&:hover {
				color: _color(blue);
			}

			&.active {
				color: _color(blue);
			}	
		}
	}
}

// Sidebar nav list
.nav-list {
  &__header {
    position: relative;
		display: block;
    padding-left: 0;
    margin: 15px;
    color: #fff;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: .15rem;

    &:after {
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      top: 5px;
      right: 5px;
      border-left: 2px solid _color(white);
      border-bottom: 2px solid _color(white);
      transform: rotate(225deg);
      transition: all .2s;
    }

    &:hover {
      cursor: pointer;
    }

    &--open {
      background-color: _color(blue-light);

      &:after {
        transform: rotate(315deg);
      }
    }
  }
}

.sub-list {
	padding: 0 $gutter2;
	margin: 0;
	list-style-type: none;
	visibility: visible;
	overflow: hidden;
	transition: all .4s ease-in-out;

	&__item {
		@include vendor('transform', 'translateY(0)');
    @include vendor('transition', (
    'opacity #{_duration(activation) * 0.15} ease',
    'transform #{_duration(activation) * 0.75} ease'
  ));
    margin: $gutter 0;
    opacity: 1;
    padding: 0;
    position: relative;

		&:first-child {
			margin: 0;
		}

		&:hover {
			background-color: _color(emerald);
			cursor: pointer;
		}

		@for $i from 1 through _misc(max-sidebar-links) {
      &:nth-child(#{$i}) {
        @include vendor('transition-delay', '#{(_duration(activation) * 0.2 * $i) + (_duration(activation) * 0.25)}');
      }
    }
	}

	&--hidden {
		visibility: hidden;
		max-height: 0;
	}

	&__link {
    @include vendor('transition', 'color #{_duration(transition)} ease');
    border: 0;
    color: _palette(fg);
    display: block;
    font-size: $font-size-s;
    font-weight: $font-bold;
    letter-spacing: $kerning;
    line-height: 1.75;
    outline: 0;
    padding: $gutter1_2 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &:before,
    &:after {
      border-radius: 0.2em;
      bottom: 0;
      content: '';
      height: 0.2em;
      position: absolute;
      right: 0;
      width: 100%;
    }

    &:before {
      background: lighten(_palette(bg), 5);
    }

    &:after {
      @include vendor('background-image', 'linear-gradient(to right, #{_palette(accent1)}, #{_palette(accent3)})');
      @include vendor('transition', 'max-width #{_duration(transition)} ease');
      max-width: 0;
    }

    &:hover {
      color: _color(white);
    }

    &.active {
      color: _color(white);

      &:after {
        max-width: 100%;
      }
    }
  }
}
