.header {
  position: fixed;
	height: _size(header-height);
	width: 100%;
	padding: 10px;
	z-index: _misc(z-index-base);
  background-color: _color(white);
	cursor: default;
	
  @include breakpoint ('<=large'){
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');
  }

	&-brand {
		font-size: _f-size(huge);
		line-height: 0;

		&__logo {
			width: 50px;
		}
	}
}
