/* Header */

.header {
  position: fixed;
  z-index: _misc(z-index-base);
	height: _size(header-height);
  width: 100%;
  background-color: _color(white);
  cursor: default;
	padding: 10px;

  @include breakpoint ('<=large'){
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');
  }

	&__brand {
		font-size: _f-size(huge);
		line-height: 0;
	}

	&__nav {
		margin-left: auto;

		> ul {
			margin: 0;
			padding: 0;
		}
	}
}

.h-logo {
  width: 50px;
}

//secondary menu
.h-nav {
	&__item {
		display: inline-block;
		margin-left: 1.75em;
		padding: 0;
		vertical-align: middle;

		&:first-child {
			margin-left: 0;
		}
	}

	&__link {
		border: 0;
		color: _color(grey);
		display: inline-block;
		font-size: _f-size(tiny);
		font-weight: _font(weight-bold);
		letter-spacing: _font(kerning-alt);
		text-transform: uppercase;

		&:hover {
			color: _color(blue);
		}

		&.active {
			color: _color(blue);
		}	
	}
}
