.main {
  grid-area: main;
  background-color: rgba(_color(blue-light), .1);

  .sidebar + & {
    margin-left: _size(sidebar-width);
    transition: margin-left .5s;

    @include breakpoint('<=medium') {
      margin-left: 0;

      &.w-push {
        margin-left: _size(sidebar-width);
        transition: margin-left .5s;
      }
    }
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding:  20px;
    height: 150px;
    background-color: #e3e4e6;
    background-size: cover;
    
    &#{&}--img-layout {
      background-image: url(../../img/layout.jpg);
    }

    &#{&}--img-color {
      background-image: url(../../img/color.jpg);
    }
  }

  &__content {
    padding: 20px;
  }
}
