.sidebar {
  background: _color(blue);
  cursor: default;
  height: calc(100vh-#{_size(header-height)});
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: _size(header-height);
  width: _size(sidebar-width);
  z-index: _misc(z-index-base);
  transition: width 0.5s;

  @include breakpoint('<=medium') {
    width: 0;
  }

  &.s-full {
    width: _size(sidebar-width);
    transition: width 0.5s;

    @include breakpoint('<=small') {
      width: 100%;
    }
  }

  &__nav {
    padding: 2rem;
    margin-bottom: 0;
    
    ul {
      list-style: none;
      padding: 0;
      padding-left: 2.5rem;
    }
  }

  body.is-preload & {
    .inner {
      opacity: 0;
    }

    .sb-nav__item {
      @include vendor('transform', 'translateY(2em)');
      opacity: 0;
    }
  }
}

.nav_group {
  padding-left: 2.5rem;
}

.sb-nav {
  &__item {
    @include vendor('transform', 'translateY(0)');
    @include vendor('transition', (
    'opacity #{_duration(activation) * 0.15} ease',
    'transform #{_duration(activation) * 0.75} ease'
  ));

    margin: 1.5em 0 0 0;
    opacity: 1;
    padding: 0;
    position: relative;

    &:first-child {
      margin: 0;
    }

    @for $i from 1 through _misc(max-sidebar-links) {
      &:nth-child(#{$i}) {
        @include vendor('transition-delay', '#{(_duration(activation) * 0.2 * $i) + (_duration(activation) * 0.25)}');
      }
    }
  }

  &__link {
    @include vendor('transition', 'color #{_duration(transition)} ease');
    border: 0;
    color: _palette(fg-light);
    display: block;
    font-size: 0.6em;
    font-weight: _font(weight-bold);
    letter-spacing: _font(kerning-alt);
    line-height: 1.75;
    outline: 0;
    padding: 1.35em 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &:before,
    &:after {
      border-radius: 0.2em;
      bottom: 0;
      content: '';
      height: 0.2em;
      position: absolute;
      right: 0;
      width: 100%;
    }

    &:before {
      background: lighten(_palette(bg), 5);
    }

    &:after {
      @include vendor('background-image', 'linear-gradient(to right, #{_palette(accent1)}, #{_palette(accent3)})');
      @include vendor('transition', 'max-width #{_duration(transition)} ease');
      max-width: 0;
    }

    &:hover {
      color: _palette(fg);
    }

    &.active {
      color: _palette(fg-bold);

      &:after {
        max-width: 100%;
      }
    }
  }
}
