.sidebar {
  grid-area: sidebar;
  background: _color(blue);
  cursor: default;
  height: calc(100vh-#{_size(header-height)});
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: _size(header-height);
  width: _size(sidebar-width);
  z-index: $z-2;
  transition: width 0.5s;

  @include breakpoint('<=medium') {
    width: 0;
  }

  &.s-full {
    width: _size(sidebar-width);
    transition: width 0.5s;

    @include breakpoint('<=small') {
      width: 100%;
    }
  }
}


