.table {
	margin: 0 0 _size(element-margin) 0;
	width: 100%;

	&-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	tbody {
		tr {
			border: solid _size(border-width) $color-border;
			border-left: 0;
			border-right: 0;
			line-height: 1;
			transform: translateX(0);
			transition: all .3s;

			&:nth-child(2n + 1) {
				background-color: $color-border-bg;
			}

			&:hover {
				background-color: $color-border-hover;
				transform: translateX(2px);
			}
		}
	}

	td {
		padding: .5rem;
	}

	th {
		color: _color(white);
		font-size: 1rem;
		font-weight: $font-bold;
		padding: 0 .75rem .75rem .75rem;
		text-align: left;
	}

	thead {
		border-bottom: solid (_size(border-width) * 2) $color-border;
	}

	tfoot {
		border-top: solid (_size(border-width) * 2) $color-border;
	}

	&.alt {
		border-collapse: separate;

		tbody {
			tr {
				td {
					border: solid _size(border-width) $color-border;
					border-left-width: 0;
					border-top-width: 0;

					&:first-child {
						border-left-width: _size(border-width);
					}
				}

				&:first-child {
					td {
						border-top-width: _size(border-width);
					}
				}
			}
		}

		thead {
			border-bottom: 0;
		}

		tfoot {
			border-top: 0;
		}
	}
}
