// Typography

//Basic element: Title + definition
.item {
  &__title {
    @include vendor('text-transform', 'uppercase');
    font-weight: $font-bold;
  }

  &__define {
    font-size: $font-size-xl;
    line-height: 1.5;
  }
}

// Header backgroung image
.header-bg {
  padding:  20px;
  min-height: 150px;
  height: 150px;
  background-color: _color(grey);
  background-size: cover;

  &#{&}__img {
    &-color {
      background-image: url(../img/color.jpg);
    }

    &-layout {
      background-image: url(../img/layout.jpg);
    }

		&-icon {
      background-image: url(../img/icon.jpg);
    }

    &-typo {
      background-image: url(../img/typography.jpg);
    }
  }
}

//Tile
.card-tile {
	display: block;
	width: 40px;
	height: 40px;
}

//Image
.img {
  @include breakpoint ('<=small') {
    width: _size(full-width);
  }
}
